<h1>All attractions:</h1>

<tbody>
  <% @attractions.each do |attraction|%>
    <tr>
      <td><%= link_to attraction.name, attraction_path(attraction)%></td>
      <td><%= attraction.tickets %></td>
      <td><%= link_to "Go on #{attraction.name}", attraction_path(attraction)%></td>
    </tr>
  <% end %>
</tbody>
